<link rel="stylesheet" href="/css/user_profile.css">

<h1>Social Media app / user-profile page updated</h1>
<p>Name: <%= user.name %></p>
<p>Email <%= user.email %></p>
<button><a href="/users/logout">Log Out</a></button>

<script src=""></script>